asgiref
attrs
beautifulsoup4
brotlipy
bs4
cachelib
certifi
cffi 
chardet
flask-cors
charset-normalizer
click 
colorama 
conda
conda-package-handling 
coreapi
coreschema
cryptography 
Django
django-cors-headers
django-filter
django-rest-swagger
djangorestframework
docopt
drf-yasg
flask-cors
Flask 
Flask-Session
Flask-SQLAlchemy 
greenlet 
html5lib
humanize
idna 
importlib-metadata 
inflection
itsdangerous 
itypes
Jinja2
jsonschema
lxml
MarkupSafe 
menuinst
openapi-codec
packaging
Pillow
psutil
psycopg2-binary
pycosat
pycparser 
pyOpenSSL 
pyparsing
pyrsistent
PySocks 
pytz
pywin32
PyYAML
reportlab
requests
ruamel-yaml-conda 
ruamel.yaml
ruamel.yaml.clib
selenium
simplejson
soupsieve
SQLAlchemy 
sqlparse
tqdm 
uritemplate
urllib3
webencodings
Werkzeug 
win-inet-pton 
wincertstore
xlrd
yarg
zipp 
